/* 
    Created on : Nov 1, 2014, 3:15:28 PM
    Author     : Andrés Córdova
*/

/********************************************************************************
* DOM
*********************************************************************************/

html {
    color: #222;
    background: #000;

}

@font-face {
    font-family: alex-brush;
    src: url("../fonts/myriad-pro/MYRIADPRO-REGULAR.woff");
}

h1,
.h1 {
  font-size: 30px;
}
h2,
.h2 {
  font-size: 24px;
}
h3,
.h3 {
  font-size: 18px;
}
h4,
.h4 {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0px;
    margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
body{
    font-family: helvetica,arial, sans-serif;
}

h1,
h2,
h3,
.title{
    font-family: century,helvetica,arial,sans-serif;
}

h2,
h3 {
    text-transform: uppercase;
}

body {
    width: 100%;
    height: 100%;
    position: relative;
    background: url("../img/back1.jpg");
    background-size: contain;
    background-repeat: repeat-x;
    background-position: center;
    background-attachment: fixed;
}

ul,
li {
    list-style-type: square;
}

@font-face {
    font-family: century;
    src: url("../fonts/century-gothic.ttf");
}

/********************************************************************************
* IDs
*********************************************************************************/

#personal td {
    vertical-align: top;
    padding-bottom: 6px;
}

#personal-big td {
    line-height: 130%;
    vertical-align: top;
    padding-bottom: 6px;
}

#personal-big td h4 {
    font-weight: lighter;
}

#left {
    margin-top: 30px;
    margin-left: 10px;
    display: inline-block;
    position: fixed;
    width: 243px;
}

#me {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    background: url("../img/me.jpg") no-repeat;
    margin: auto;
    border: 2px solid #ffffff;
}

#menu {
    margin-top: 10px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    background: #fff;
}

#info {
    padding: 20px;
    padding-bottom: 10px;
    font-size: 0.9em;
    color: #222;
    position: relative;
    height: 225px;
    -webkit-transition: height 0.2s ease;
    -moz-transition: height 0.2s ease;
    -o-transition: height 0.2s ease;
    transition: height 0.2s ease;
    overflow: hidden;
    line-height: 100%;
}

#info.compacted {
    height: 73px;
    overflow: hidden;
    -webkit-transition: height 0.2s ease;
    -moz-transition: height 0.2s ease;
    -o-transition: height 0.2s ease;
    transition: height 0.2s ease;
}

#resize {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 5px;
}

#title-small {
    font-size: 1.4em;
    text-align: center;
}

#hidden{
    position: fixed;
    width:100%;
    height:100%;
    display:inline-box;
    z-index:10;
    opacity: 0;
    background: #123;
    transition: opacity 5s;
}

.popup,
#me,
#menu,
#left {
    z-index: 20;
}


/********************************************************************************
* Classes
*********************************************************************************/

.nav>li>a {
    padding: 8px 15px;
}

.sidenav {
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}

.sidenav li a {
    font-size: 0.9em;
    border-left: #fff 3px solid;
    color: #888;
}

.sidenav li a:hover,
.sidenav li a:active {
    border-left: #2aabd2 3px solid;
    background: #fff;
    color: #2a6496;
}

.sidenav li.active a {
    border-left: #2aabd2 3px solid;
    background: #fff;
    color: #2a6496;
    font-weight: bold;
}

.navbar-default {
    border-radius: 0px;
}

.highlight {
    color: #F9690E;
    
    font-size: 1.1em;
}

.popup {
    position: relative;
    margin: 1em 0 1em;
    margin-left: 15px;
    color: #000;
    background: #f3961c;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
    padding: 30px 30px;
    background: #fff;
    display: inline-block;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}

.popup:after {
    content: "";
    display: block;
    /* reduce the damage in FF3.0 */
    position: absolute;
    bottom: -15px;
    left: 50px;
    width: 0;
    border-width: 15px 15px 0;
    border-style: solid;
    border-color: #fff transparent;
}

.popup.left:after {
    top: 16px;
    left: -15px;
    bottom: auto;
    border-width: 10px 15px 10px 0;
    border-color: transparent #FFF;
}

.popup a {
    /* word-wrap: break-word; */
}

.box {
    position: relative;
    color: #000;
    background: #f3961c;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
    padding: 30px 30px;
    background: #fff;
    display: inline-block;
}

.justified {
    text-align: justify;
}

.bold {
    font-weight: bold;
}

.closer {
    margin-bottom: 0px;
}

.section {
    padding-top: 40px;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.no-block {
    display: block;
}

.m-check {
    float: right;
    color: #ECECEC;
}

.green {
    transition: color 1s ease;
    color: #4CAF50;
}

.cover {
    display: inline;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(200,200,200,0.5);
    left: 0;
    bottom: 0;
    transition: background 0.5s ease;
    color: white;
    text-align: center;
}

.cover, .or{
    padding-top: 60px;
}

.cover:hover{
    background: rgba(255,0,255,0.7);
    color: white;
}

.modal-content{
    padding: 30px;
    background: rgba(255,255,255,1);
}

.black-modal{
    color: #FFFFFF;
    background: rgba(0,0,0,0.8);
}

.btn-circular{
    height:64px;
    width:64px;
    border-radius: 32px;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
}

.btn-circular img{
    width: 32px; 
    height: 32px"
}

.right-bottom{
    position: fixed;
    right: 20px;
    bottom: 10px;
    z-index: 20;
}

.btn-blue{
    background: #03A9F4;
}

.btn-green{
    background: #8BC34A;
}

.btn-purple{
    background: #512DA8;
}

.social-icon{
    font-size: 24px;
    color: #000;
    transition: color 0.2s;
}

.si-gh:hover{
    color: #555;
}

.si-in:hover{
    color: #1b75ab;
}

.si-tw:hover{
    color: #31cbfd;
}

/********************************************************************************
* Viz
*********************************************************************************/

rect {
    fill: none;
    pointer-events: all;
}

circle {
    fill: none;
    stroke-width: 2.5px;
}